<div class="page-header">
  <h3>Wine #<%= @wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Wine name</dt>
      <dd><%= @wine.wine_name %></dd>

      <dt>Year</dt>
      <dd><%= @wine.year %></dd>

      <dt>Price</dt>
      <dd><%= @wine.price %></dd>

      <dt>Varietal</dt>
      <dd>
        <% if @wine.varietal.present? %>
          <a href="/varietals/<%= @wine.varietal_id %>">
            <%= @wine.varietal.varietal_name %>
          </a>
        <% end %>
      </dd>

      <dt>Winery</dt>
      <dd><%= @wine.winery %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/wines" class="btn btn-primary">
        Back
      </a>
      <a href="/wines/<%= @wine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_wine/<%= @wine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Wine has many my_wines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        My Wines
      </li>

      <% @wine.my_wines.each do |my_wine| %>
        <li class="list-group-item">
          <a href="/my_wines/<%= my_wine.id %>">
            <%= my_wine.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/my_wines/<%= my_wine.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/my_wines/<%= my_wine.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_my_wine/<%= my_wine.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_my_wine" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <button class="btn btn-block btn-success">
        Create My Wine
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @wine.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.stars %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for stars -->
      <div class="form-group">
        <label for="stars" class="control-label">
          Stars
        </label>

        <input type="text" id="stars" name="stars" placeholder="Stars" class="form-control" value="">
      </div>

      <!-- Label and input for review_full_text -->
      <div class="form-group">
        <label for="review_full_text" class="control-label">
          Review full text
        </label>

        <input type="text" id="review_full_text" name="review_full_text" placeholder="Review full text" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many tasting_note_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tasting Note Tags
      </li>

      <% @wine.tasting_note_tags.each do |tasting_note_tag| %>
        <li class="list-group-item">
          <a href="/tasting_note_tags/<%= tasting_note_tag.id %>">
            <%= tasting_note_tag.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tasting_note_tags/<%= tasting_note_tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tasting_note_tags/<%= tasting_note_tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tasting_note_tag/<%= tasting_note_tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tasting_note_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tasting_note_name -->
      <div class="form-group">
        <label for="tasting_note_name" class="control-label">
          Tasting note name
        </label>

        <%= select_tag(:tasting_note_name, options_from_collection_for_select(Wine.all, :id, :wine_name, @tasting_note_tag.tasting_note_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Tasting Note Tag
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many bucket_list_wines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bucket List Wines
      </li>

      <% @wine.bucket_list_wines.each do |bucket_list_wine| %>
        <li class="list-group-item">
          <a href="/bucket_list_wines/<%= bucket_list_wine.id %>">
            <%= bucket_list_wine.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bucket_list_wines/<%= bucket_list_wine.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bucket_list_wines/<%= bucket_list_wine.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bucket_list_wine/<%= bucket_list_wine.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bucket_list_wine" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <button class="btn btn-block btn-success">
        Create Bucket List Wine
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many suggested_wines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Suggested Wines
      </li>

      <% @wine.suggested_wines.each do |suggested_wine| %>
        <li class="list-group-item">
          <a href="/suggested_wines/<%= suggested_wine.id %>">
            <%= suggested_wine.wine_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/suggested_wines/<%= suggested_wine.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/suggested_wines/<%= suggested_wine.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_suggested_wine/<%= suggested_wine.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_suggested_wine" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <!-- Label and input for user_id_from -->
      <input type="hidden" name="user_id_from" value="<%= current_user.id %>">

      <!-- Label and input for user_id_to -->
      <div class="form-group">
        <label for="user_id_to" class="control-label">
          User id to
        </label>

        <%= select_tag(:user_id_to, options_from_collection_for_select(User.all, :id, :created_at_to), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Suggested Wine
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many wine_tag_pairs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Wine Tag Pairs
      </li>

      <% @wine.wine_tag_pairs.each do |wine_tag_pair| %>
        <li class="list-group-item">
          <a href="/wine_tag_pairs/<%= wine_tag_pair.id %>">
            <%= wine_tag_pair.wine_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/wine_tag_pairs/<%= wine_tag_pair.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/wine_tag_pairs/<%= wine_tag_pair.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_wine_tag_pair/<%= wine_tag_pair.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_wine_tag_pair" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for wine_id -->
      <div class="form-group">
        <label for="wine_id" class="control-label">
          Wine
        </label>

        <input type="text" id="wine_id" name="wine_id" placeholder="Wine" class="form-control" value="">
      </div>

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Wine.all, :id, :wine_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Wine Tag Pair
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
